
#css-overrides {
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    font-size: 20px;
    // background-color: #8e6060;
    a {
      color: #000000;
      text-decoration: none;
      &:hover {
        color: #BDBDBD;
      }
    }
    .project {
      font-size: 14px;
      margin-top: 70px;
    }
  .home-name {
    font-family: 'Roboto', sans-serif;
    line-height: 21px;
    font-size: 38px;
  }
  .content {
    display: table-cell;
    vertical-align: middle;
    }
  .container {
    position: absolute;
    display: table;
    width: 90%;
    height: 100%;
    margin-top: -3rem;
    margin-left: 5%;
    overflow: hidden;
    z-index: 10;
  }
}
