---
title: Kwab Boateng
---


<div class="container">
  <div class="content">
    <div class="row">
      <h1 class="home-name">
        kwab boateng
      </h1>
    </div>
    <div class="row mt-2">
      <p>
        product manager + hacker
      </p>
    </div>
    <div class="row">
      <a href="http://linkedin.com/in/kwabboateng">
        <i class="icon ion-social-linkedin mr-5"></i>
      </a>
      <a href="http://twitter.com/kwabboateng">
        <i class="icon ion-social-twitter mr-5"></i>
      </a>
      <a href="http://github.com/kwabboateng">
        <i class="icon ion-social-github mr-5"></i>
      </a>
      <a href="mailto:hello@kwabboateng.com?Subject=Hello">
        <i class="icon ion-email mr-5"></i>
      </a>
    </div>

  </div>
</div>
